*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;

}
 
.sliders{
    width: 100%;
    height: 350px;
}
.sliders img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: 10% 58%;
}